{#
/**
 * Block Name: Instagram Feed
 *
 * This is the template that displays the Instagram Feed block.
 */
#}

{% if is_preview %}
    <p>I will only appear in the editor.</p>
{% endif %}

<div id="example-{{ block.id }}" class="wrapper">
    INSTAGRAM FEED
</div>
